<main>
<%= form_with model: @recipe, method: :post do |f| %>

　<h4>イメージ写真</h4>
  <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", class: "image" %>
  
  <h4>レシピについて</h4>
  <%= f.text_field :title,placeholder: "タイトル(50文字以内)" ,size: 35 %>
	
  <h4>本文</h4>
  <%= f.text_area :description, placeholder: "サブタイトル(140字以内)",size: 35 %>
	
	<h4>材料</h4>
	 <section class="ingredient">
          <%= f.fields_for :ingredients do |ingredient| %>
            <%= render "ingredient_fields", f: ingredient %>
          <% end %>
            <%= link_to_add_association "材料の追加", f, :ingredients %>
    </section>
        
  <h4>作り方</h4>
  <section class="step">
    <div class="field">
      <%= f.fields_for :steps do |step| %>
        <%= render "step_fields", f: step %>
      <% end %>
      <%= link_to_add_association "作り方の追加", f, :steps %>
    </div>
  </section>
	
  <%= f.submit '投稿' %>
<% end %>