<div class = "container mt-5" >
  <%= form_with url: recipes_path, method: :get, class: 'recipes__searchForm' do %>
      <%= select_tag :tag_ids,
                      options_from_collection_for_select(Tag.all, :id, :name, params[:tag_ids]),
                      {
                        prompt: 'タグで絞り込み検索',
                        class: 'form-control recipes__select',
                        onchange: 'submit(this.form);'
                      } 
      %>
    <% end %>
    <!--絞り込み検索-->
      <%= search_form_for @q, url: recipes_path, class:"search_form" do |f| %>
      <%= f.search_field :title_or_ingredients_content_cont, placeholder: "レシピ名・食材名で検索", :size => "123*123" %>
      <% end %>
      <!--<#%= render 'shared/recipe_search' %>-->
　　<!--絞り込み検索-->

<section class="list">
    <div class="d-flex flex-wrap">
       <div class="cooking-title">
           <h4>レシピ一覧</h4></div>
       <% @recipes.each do |recipe|%>
    <div>
     <%= link_to recipe_path(recipe.id) do %>
      <!--<#%= image_tag recipe.image if recipe.image.attached? %>-->
       <% if recipe.image.attached? %>
         <%= image_tag recipe.image, size: "200x180" %>
       <% else %>
         <%= image_tag 'no-image1', size: "200x180" %>
       <% end %>
      <p><%= recipe.title %></p>
    <% end %>
      <% recipe.tags.each do |tag| %>
        <%= tag.name %>
       <% end %>
      <br>
           総合評価:<div id="review-<%= recipe.id %>"></div>
        <script>
            $('#review-<%= recipe.id %>').empty(); // Turbolinksで星が増殖する現象を解消
            $('#review-<%= recipe.id %>').raty({
                size     : 36,
                starOff: '<%= asset_path('star-off.png') %>',
                starOn: '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                // 登録するモデル名とカラム名を記述
                //  送信値として採用される
                half: true,
                readOnly: true, // # 読み取り専用
                score: '<%= recipe.review %>' // # 星評価の表示
            });
        </script>
      </div>
     <% end %>
  </div>
 </section>

  <!--<#%= paginate @recipe %>-->