
<section class="list">
  <div class="cooking-title">レシピ一覧</div>
 <% @recipes.each do |recipe|%>
  <%= image_tag recipe.image if recipe.image.attached? %>
 <%= recipe.title %>
 <br>
 <%= recipe.description %>
  <% recipe.ingredients.each do |ingredient| %>
   <%= ingredient.content %>
   <%= ingredient.quantity %>
   
  <% end %> 
  
  <% recipe.steps.each do |step| %>
  <% step.direction %> 
  <% end %>
 <% end %>

  <%= paginate @recipes %>
</section>