<div class = "container mt-5">
         <h1>レシピの詳細</h1>
  <div class = "row">
    <div class = "col-md-6">
      <main>
      <section class="description">
        <!--<div class="description__inner">-->
        <!--  <div class="description__img-field">-->
        <!--    <div class="description__img">-->
    
          <%= image_tag @recipe.get_image, size: "350x350" %>
          <!--<div class="description__texts">-->
          <!--  <div class="description__title">-->
            <div id="recipe_<%= @recipe.id %>">
               <%= render partial: "favorite", locals: { recipe: @recipe } %>
            </div>
            <% if @recipe.favorited_by?(current_user) %>
                <p>
                  <%= link_to  recipe_favorites_path(@recipe.id),method: :delete do %>
                    ♥<%= @recipe.favorites.count %> いいね
                  <% end %>
                </p>
                <% else %>
                <p>
                  <%= link_to  recipe_favorites_path(@recipe.id),method: :post do %>
                    ♡<%= @recipe.favorites.count %> いいね
                  <% end %>
                </p>
              <% end %>
                <div class="recipeuser">
                  <div class="cooking-title"><b>投稿ユーザー</b></div>
                    <%= @recipe.user.name%>
                    <div class="recipeuser__inner">
                      <div class="recipeuser__img">
                        <!--<#%= link_to image_tag(@recipe.user.avatar.url), user_path(id: @recipe.user_id) %>-->
                    </div>
                    <!--<#%= link_to @recipe.user.name, user_path(id: @recipe.user_id), class:"recipeuser__name" %>-->
                  </div>
                </div>
              <p><b>投稿日：</b><%= @recipe.created_at.strftime('%Y/%m/%d') %></p>
          </div>
              
            <div class = "col-md-6">
                 <strong>
                  “<%= @recipe.title %>”
                 </strong><br>
            総合評価：<div id="review"></div>
            <%#= f.hidden_field :review, id: :review %>
            <script>
              $('#review').empty(); // Turbolinksで星が増殖する現象を解消
              $('#review').raty({
                  size     : 36,
                  starOff: '<%= asset_path('star-off.png') %>',
                  starOn: '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  // 登録するモデル名とカラム名を記述
                  //  送信値として採用される
                  half: true,
                  readOnly: true, // # 読み取り専用
                  score: <%= @recipe.review %>, // # 星評価の表示
              });
            </script>
            <p>
              <div class="description__detail">
                  <strong>
                   レシピの説明
                  </strong>
                 <span><%= @recipe.description %></span>
               </div>
               <p>
              <table class = "table">
                <section class="ingredient">
                      <tr>
                        <th><div class="cooking-title"><b>材料</b></div></th>
                          <th><div class="cooking-title"><b>分量</b></div></th>   
                            <% @recipe.ingredients.each do |ingredient| %>
                             <div class="ingredient__ul">
                              <tr>
                               <td><div><%= ingredient.content %></div></td>
                              <td><div><%= ingredient.quantity %></div></td>
                              </tr>
                            </div>
                         </tr>
                      <% end %>
                     <tr>
                       <th>
                         <hr class="m-2" />
                           <div class="cooking-title"><b>作り方</b></div>
                        </th>
                      </tr>
                        <% @recipe.steps.each do |step| %>
                          <div class="step__item">
                           <div class="step__inner">
                             <div class="step__content">
                              <p class="step__number"></p>
                               <p class="step__description">
                                 <tr>
                                  <td>★<%= step.direction %></p>
                        　          <% if step.image? %></td>
                                   <div class="step__img">
                                   <%= image_tag step.image.url %>
                                </div>
                                </tr>
                               </div>
                             <% end %>
                            </div>
                          </div>
                       <% end %>
                  </section>
                </table>
            </section>
        </section>
          <!--ここからタグ開始-->
                <section class="tag">
                  <hr class="m-2" />
                  <div class="cooking-title"><b>関連タグ</b></div>
                    <div class="tag__container">
                       <% if @recipe.tags.empty? %>
                       <p class="tag__none">関連タグが設定されていません</p>
                        <% else %>
                         <% @recipe.tags.each do |tag| %>
                         <!--  <#%= render_with_tags(tag.name, tag.id) %>-->
                          <!--<#% end %>-->
                           <!--<#% @recipe.tags.each do |tag| %>-->
                         <%= tag.name %>
                        <% end %>
                        <hr class="m-2" />
                    <% end %>
                  </div>
            <% if user_signed_in? && @recipe.user == current_user %>
              <%= link_to 'レシピ編集', edit_recipe_path, class: "btn btn-primary" %>
            <% end %>
                </section>
<!--タグがここまで-->
              </div>
　          </div>
      </main>
      
<!--ここからがコメント機能-->
<div class= "row justify-content-lg-center">
  <div class= "col col-lg-9">
  <p>コメント件数：<%= @recipe.comments.count %></p>
    <% @recipe.comments.each do |comment| %>
    <!--<p><#%= image_tag comment.user.get_profile_image(100,100) %></p>-->
      <%= comment.user.name %>
      <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.content %>
  <% end %>
  <div>
<% if current_user.guest? %>
          <p>コメント投稿するには会員登録が必要です。</p>
          <%= link_to recipes_path, class: "btn btn-primary" do %>
          　前のページに戻る
          　<% end %>
        <% else %>
    <%= form_with model: @comments, url: recipe_comments_path(@recipe) , method: :post do |f| %>
      <%= f.text_area :content, rows: '5', placeholder: "コメントをここに",size: "80x3" %>
      <%= f.hidden_field :recipe_id, value: @recipe.id %><br>
      <%= f.submit "コメントを投稿する", class: "btn btn-success"%>
   <% end %>
  </div>
 </div>
</div>
<% end %>
<!--ここまでがコメント機能-->
</div>


</section>
