<%= form_with(model:[@recipe, @comment], method: :post, class: "comment__inputBx") do |f| %>
  <%= f.hidden_field :recipe_id, value: @recipe.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.label :content, "コメント投稿はこちら", class: 'comment__label'%>
  <%= f.text_area :content, placeholder: "100文字まで入力可能です", class: 'comment__area' %>
  <div class="comment-submit"><%= f.button "送信する" , class:"btn slide-bg"%></div>
<% end %>_reply_form.html.erb
