

<!--<#% if @user.email == 'guest@example.com'%>-->
<!--      <p>ゲストユーザーはユーザー情報の編集ができません。</p>-->
<!--    <#% else %>-->
<!--      <#%= form_with model:@user, local:true do |f| %>-->
<!--        <#%= render 'layouts/errors', obj: @user %>-->
<!--        <div class="form-group">-->
<!--          <#%= f.label :name %>-->
<!--          <#%= f.text_field :name, class: "form-control name" %>-->
<!--        </div>-->
<!--      <div class="form-group">-->
<!--          <#%= f.label :image %>-->
<!--          <#%= f.file_field :profile_image, class: "form-control-file user_image", accept: 'image/*' %>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <#%= f.label :introduction %>-->
<!--          <#%= f.text_area :introduction, class: "form-control introduction" %>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <#%= f.submit class: 'btn btn-secondary' %>-->
<!--        </div>-->
<!--      <#% end %>-->
<!--    <#% end %>-->

<div class = "container mt-5">

<h1>会員情報編集</h1>

<%= form_with model: @user, url: information_path, method: :patch do |f| %>
<div class="auto">
   <p>
       <div class= "field">
          <label for="inputImage">プロフィール画像</label>
            <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>  
   　   </div>
   <div class= "field">
      <%= f.label :名前 %>
      <span>
           <%= f.text_field :name, :size=>"25" %>
      
    </div>
    </p>
    
    <p>
      <div class="field">
        <%= f.label :自己紹介 %>
        <span>
        <%= f.text_field :introduction,:size=>"25" %>
      </div>
    </p>
    
    <p>
    <div class="field">
        <%= f.label :メールアドレス %>
        <span>
        <%= f.email_field :email,:size=>"25", autofocus: true, autocomplete: "email" %>
    </div>
    </p>
    
    
      <div class="actions">
      <div class='form-group'>
        <%= f.submit '編集内容保存', class:'btn btn-sm btn-success' %>
      </div>
     <% end %>
       
       <%= link_to unsubscribe_path, class: "btn btn-danger" do %>
       退会する
     <% end %>
     </div>

    </div>
</div>
