
<div class="cover-user-edit">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <h1 class="font-weight-normal mt-5 mb-5">プロフィール編集</h1>
    </div>
      
      <div class="row justify-content-center">
       <% if @user.email == 'guest@example.com'%>
      <p>ゲストユーザーはユーザー情報の編集ができません。</p>
    <% else %>
<%= form_with model: @user, url: information_path, method: :patch do |f| %>
<div class="auto">
   <p>
       <div class= "field">
          <label for="inputImage">プロフィール画像</label><br>
          <%= image_tag current_user.get_profile_image(100,100),class: "mb-3 profile-img" %><br>
            <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>  
   　   </div><br>
   　   <div class= "field">
      <%= f.label :名前 %>
      <span>
           <%= f.text_field :name, :size=>"25" %>
      
    </div>
    </p>
    
    <p>
      <div class="field">
        <%= f.label :自己紹介 %>
        <span>
        <%= f.text_field :introduction,:size=>"25" %>
      </div>
    </p>
    
    <p>
    <div class="field">
        <%= f.label :メールアドレス %>
        <span>
        <%= f.email_field :email,:size=>"25", autofocus: true, autocomplete: "email" %>
    </div>
    </p>
    
    
       <div class = "flex-box">
      <div class="actions">
      <div class='form-group'>
        <%= f.submit '編集内容保存', class:'btn btn-sm btn-success' %>
      </div>
     <% end %>
       <%= link_to unsubscribe_path, class: "btn btn-danger" do %>
       退会する
     <% end %>
     </div>

    </div>
</div>
<% end %>