<div class = "container mt-5">
     <h1>マイページ</h1>
  <div class = "row">
    
     
     
      <b>登録情報</b>
     <span>
      <%= link_to "編集する", information_edit_path(current_user.id), class: "btn btn-success" %>
     </span>
     
     <table class="table table-hover">
            <tr>
                <th><b>プロフィール画像<b></th>
                <td><%= image_tag current_user.get_profile_image(200,200)%> </td>
            </tr>
            <tr>
              <th><b>氏名</b></th>
                <td><%= current_user.name %></td>
            </tr>
            <tr>
                <th><b>自己紹介</b></th>
                <td><%= current_user.introduction %></td>
            </tr>
              <th><b>メールアドレス</b></th>
             <td><%= current_user.email %></td>
            </tr>
       
     </table>
       </div>
         
       
       <!--%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>-->
     