<div class="cover-user-show">
<div class = "container mt-5">
    <div class="row justify-content-center">
     <h1>My page</h1>
     </div>
      <p style="text-align: right">
        <%= link_to "登録情報を編集する", information_edit_path(current_user.id), class: "btn btn-success" %>
      </p>
     <div class="row justify-content-center">
     <table class="table table-hover">
            <tr>
                <th><b>プロフィール画像<b></th>
                <td><%= image_tag current_user.get_profile_image(100,100)%> </td>
            </tr>
            <tr>
              <th><b>氏名</b></th>
                <td><%= current_user.name %></td>
            </tr>
            <tr>
                <th><b>自己紹介</b></th>
                <td><%= current_user.introduction %></td>
            </tr>
            <!--  <th><b>メールアドレス</b></th>-->
            <!-- <td><#%= current_user.email %></td>-->
            <!--</tr>-->
     </table>
       </div>
        <hr class="m-2" />
        <div class="row justify-content-center">
          <caption><b>ブックマーク一覧</b></caption><br>
        </div>
        <hr class="m-2" />
           <% if @favorites.empty? %>
      <div style="height: 200px;"></div>
      <div class="text-center">
      <h5> <b>いいねしたレシピがこちらに表示されます。</b></h5>
          <% end %>
          <p style="text-align: right">
          <%= link_to recipes_path, class: 'btn btn-primary' do %>
          レシピ一覧へ
          <% end %>
          </p>
        <br>
     <table>
          <tbody>
            <% @favorites.each do |favorite| %>
              <tr>
                  
                <%= link_to recipe_path(favorite.recipe) do %>
                   <% if favorite.recipe.image.attached? %>
                     <%= image_tag favorite.recipe.image, size: "200x180" %>
                   <% else %>
                     <%= image_tag 'no-image1', size: "200x180" %>
                   <% end %>
              </tr>
               <tr>
                  <th>レシピ名</th>
                        <td><%= favorite.recipe.title %></td>
                </tr>
                <tr>
                  <th>投稿者</th>
                       <td><%= favorite.recipe.user.name %></td>
                <!--<td><#%= favorite.recipe. description %></td>-->
                 <% end %>
                </tr>        

    <br>
     総合評価:<div id="review-<%= favorite.recipe.id %>"></div>
      <script>
        $('#review-<%= favorite.recipe.id %>').empty(); // Turbolinksで星が増殖する現象を解消
        $('#review-<%= favorite.recipe.id %>').raty({
            size     : 36,
            starOff: '<%= asset_path('star-off.png') %>',
            starOn: '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            // 登録するモデル名とカラム名を記述
            //  送信値として採用される
            half: true,
            readOnly: true, // # 読み取り専用
            score: '<%= favorite.recipe.review %>' // # 星評価の表示
        });
      </script>
          </tbody>
    </table>
    <% end %>
    </div>
  