<!DOCTYPE html>
<html>
  <html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <script src="https://kit.fontawesome.com/ab6d9d0a52.js" crossorigin="anonymous"></script>
    <title>féerie</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-none d-lg-block">
          <nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block" style="z-index: 2000;">
       <div class="container-fluid">
         <a class="navbar-brand" href="/"><h4><strong>féerie</strong></h4></a>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
           <ul class="navbar-nav ml-auto">
            
          <% if user_signed_in? %>
              <li>
                  <a class="text-white navbar-brand">
                  ようこそ、<%= current_user.name %>さん！
                  </a>
                <%= link_to my_page_path(current_user.id), class: "text-white navbar-brand" do %>
                 <i class="fa-solid fa-street-view"></i>マイページ
                <% end %>
              </li>
              <li>
                <%= link_to new_recipe_path , class: "text-white navbar-brand" do %>
                 <i class="fa-solid fa-utensils"></i>レシピ投稿
                <% end %>
               </li>
                <li>
                  <%= link_to recipes_path, class: "text-white navbar-brand" do %>
                  <i class="fa-solid fa-book-tanakh fa-flip-horizontal"></i>レシピ一覧
                  <% end %>
                </li>
                <!--<li>-->
                <!--<"%= link_to users_path, class: "text-white navbar-brand" do  %>-->
                <!-- <i class="fa-solid fa-user-secret"></i>ユーザー一覧-->
                <!-- <"% end %>-->
                <!--</li>-->
               <li>
                <%= link_to destroy_user_session_path, method: :delete, class: "text-white navbar-brand" do %>
                 <i class=" fas fa-sign-out-alt"></i>ログアウト
                <% end %>
               </li>
             
             <% elsif admin_signed_in? %>
               <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                 <ul class="navbar-nav ml-auto">
            　     <li>
                    <%= link_to admin_users_path, class: "text-white navbar-brand" do %>会員一覧
                      <%end %>
                         <%= link_to  admin_recipe_index_path, class: "text-white navbar-brand" do %>投稿一覧
                        <%end %>
                         <%= link_to  admin_comment_index_path, class: "text-white navbar-brand" do %>コメント一覧
                      <%end %>
                     <%= link_to destroy_admin_session_path, method: :delete, class: "text-white navbar-brand" do %>
                      <i class=" fas fa-sign-out-alt"></i>ログアウト
            　         <% end %>
                   </li>
                  </ul> 
                </div>
               </nav>
                
            <% else %>
             <li>
               <%= link_to about_path,  class: "text-white navbar-brand" do %>  
                 <i class="fas fa-link"></i>What about us
             </li>
                <% end %>
                <!--<li><#%= link_to users_guest_sign_in_path, method: :post ,class: "text-white navbar-brand" do  %>-->
                <!-- <i class="far fa-question-circle"></i>ゲストログイン（閲覧用)-->
                <!--</li>-->
                <!--<#% end %>-->
             <!--<li>-->
              <li>
                <%= link_to recipes_path, class: "text-white navbar-brand" do %>
                <i class="fa-solid fa-book-tanakh fa-flip-horizontal"></i>レシピ一覧
                <% end %>
              </li>
             <!--<li>-->
             <!--   <#%= link_to new_user_registration_path, class: "text-white navbar-brand" do %>-->
             <!--    <i class="fas fa-user-plus"></i>新規登録-->
             <!--</li>-->
             <!--   <#% end %>-->
             <!--<li>-->
             <!--    <#%= link_to  new_user_session_path, class: "text-white navbar-brand" do %>-->
             <!--     <i class="fas fa-sign-in-alt"></i>ログイン-->
             <!--</li>-->
             <!--   <#% end %>-->
                <% end %>
               
            </ul>
          </div>
       </div>
     </nav> 
   </header>
    <%= yield %>
  </body>
</html>
